{% extends "base.html" %}
{% block body %}
<div class="container">
  <h2>Track an order</h2> <br>
  <form action="{{ url_for('add_post') }}" method="POST">
    <div class="form-group">
      <label for="url">URL:</label>
      <input name="url" type="url" class="form-control" id="url" required 
        placeholder="https://api.dominos.com.my/api/GPSTracker/CartId/88888888"
        pattern="^https:\/\/api\.dominos\.com\.my\/api\/GPSTracker\/CartId\/\d+$">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input name="phone" type="tel" class="form-control" id="phone" required 
        placeholder="+60123456789" pattern="^\+\d+$">
    </div>
    <div class="form-group">
      <label for="token">Token:</label>
      <textarea name="token" class="form-control" rows="5" id="token" required 
        placeholder="Bearer xyz..." pattern="^Bearer \S*$"></textarea>
    </div>

    <div class="checkbox">
      <script type="text/javascript">
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        });
      </script>

      <style>
        .tooltip-inner {
          white-space: pre-wrap;
          text-align: justify;
        }
      </style>
      
      <label>
        <input type="checkbox" value="acceptTnC" required>
        <a href="#" data-toggle="tooltip" 
          title="Terms and Conditions: 

By submitting the time-based session token, you are consenting that the token is to be used by this service for its intended purpose (tracking this single order). 
          
However you are aware that the token could also gives access to your other personal data stored in Domino's Pizza Malaysia, such as Full Name, Delivery Address(es), Phone Number(s), Email address, Coupon Codes, Order History, etc. 

We are not liable for any damages caused by the misappropriate use of the token either by us or any third party.">
          I agree to the terms and conditions
        </a>
      </label>
    </div>

    <button type="submit" class="btn btn-warning">Track!</button>

  </form>
</div>
{% endblock %}
