{% extends "base.html" %}
{% block body %}
  <h2>Track an order</h2>
  <form action="{{ url_for('add_post') }}" method="POST">
    <div class="form-group">
      <label for="url">URL:</label>
      <input name="url" type="url" class="form-control" id="url" required 
        placeholder="https://api.dominos.com.my/api/GPSTracker/CartId/88888888"
        pattern="^https:\/\/api\.dominos\.com\.my\/api\/GPSTracker\/CartId\/\d+$">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input name="phone" type="tel" class="form-control" id="phone" required 
        placeholder="+60123456789" pattern="^\+\d+$">
    </div>
    <div class="form-group">
      <label for="token">Token:</label>
      <textarea name="token" class="form-control" rows="5" id="token" required 
        placeholder="Bearer xyz..." pattern="^Bearer \S*$"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Track!</button>
  </form>
{% endblock %}
